.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/****************** Styling for the left and the right most divs with the currency table **********************/
.countryCurrenyNames {
  overflow-y: scroll;
  min-width: 300px;
  max-height: 500px;
  box-shadow: 0px 0px 12px 4px black;
  background-color: wheat;
}

/******************* Pop-up instruction based upon the hover event over the "i" tag **************************/
.instuction-symbol {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.instruction-text {
  display: none;
  position: absolute;
  left: 0;
  top: 23%;
  border: 1px solid #000;
  word-break: normal;
  margin-top: 0;
  padding-top: 0;
  max-width: 150px;
  font-size: 11px;
  background-color: wheat;
}
.instuction-symbol:hover ~ .instruction-text {
  display: block;
}

.center-div {
  min-width: 500px;
  box-shadow: 0px 0px 12px 4px black;
  background-color: wheat;
}

/*********************** Header Bar ***********************/

.headerBar {
  background-color: rgb(12, 12, 12);
  height: max-content;
  box-shadow: "0px 0px 12px 4px black";
  padding: 5px;
}

.headerNames {
  color: wheat;
  font-size: 1.4rem;
}

/************************ Form Elements ****************************/
FIELDSET {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select {
  text-align: center;
}

#result-text {
  margin: 10px;
  word-spacing: 3px;
  font-size: 1.4rem;
  font-weight: 600;
}
