.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.countryCurrenyNames {
  overflow-y: scroll;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.instuction-symbol {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.instruction-text {
  display: none;
  position: absolute;
  left: 0;
  top: 23%;
  border: 1px solid #000;
  word-break: normal;
  margin-top: 0;
  padding-top: 0;
  max-width: 150px;
  font-size: 11px;
  background-color: wheat;
}
.instuction-symbol:hover ~ .instruction-text {
  display: block;
}

FIELDSET {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .selectClass {
  align-self: center;
} */
